.login-body{
  
  width:100%;
  background-repeat: no-repeat;

}
.wave-img {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: -1;
}
.mobile-svg{
  width:30%;
  height:auto;
  fill:blue;
}
.login-form{
display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  height:100vh;
}
form {
  width: 70%;
}

.login-form .icon {
  height:10vh;
  color:rgb(49, 117, 206)
}

.login-form h2 {
  margin: 15px 0;
  color: #333;
  text-transform: uppercase;
  font-size: 2.0rem;
}

/* adduser css */
.user-container{

      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
}
.custom-card {
  background-color: rgb(46, 86, 219);
  border-radius: 6px;
  color: white;
  text-align: center;
}

.custom-card .form-control {
  background-color: white;
  color: blue;
}
.custom-card .user-icon {
 height:10vh;
}


.custom-card .btn-primary {
  background-color: white;
  color: blue;
  border-color: blue;
}

/* Navbar css */
.navbar{
  background-color:rgb(46, 86, 219);
  color:white;
  border-radius:10px;
}
.navbar a{
  color:white;
}
.navbar span {
  color: white;
}
.navbar-toggle-icon{
  color:red;
 
}
.navbar-middle{
  display: flex;
  justify-content:space-evenly;
}

/* eventpage css */
.event-body{
  padding:10px;
}
.event-card {
  border-radius: 5px;
  box-shadow: 1px 1px 1px 3px rgba(0, 0, 0, 0.233);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f2f2f2;
  /* Light gray background color */
  color: #333;
  /* Dark text color */
}

.event-card:hover {
  transform: translateY(-3px);
  /* Move card slightly up on hover */
  box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, rgba(46, 86, 219, 1) 0%, rgba(0, 123, 255, 1) 100%);
    color:white;
}


.event-card p {
  padding: 0px;
  /* Increase padding for better readability */
  margin: 0;
  /* Remove default margin */
}

.resource-card:hover{
  transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.resource-card{
  border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.233);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f2f2f2;
    
    color: #2e2a2a;
}

.heart-icon-liked{
  color:red;
}

.event-button-container{
  display: flex;
    justify-content: space-between;
    margin-top: 10px;
}